/* Variables */
$color1: linear-gradient(gray,black)
$color2: linear-gradient(#b0e60f,#293602)
$ancho: 300px
$colorvar1: green
$colorvar2: blue

/* Mixins */
@mixin flexColCenter()
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

/* Mixin con Parametros */
@mixin flexible($param1,$param2,$param3,$param4)
    display: $param1
    flex-direction: $param2
    justify-content: $param3
    align-items: $param4

/* SUPER Mixin */
@mixin superMixin($param1,$param2,$param3,$param4,$param5,$param6,$param7,$param8,$param9)
    display: $param1
    flex-direction: $param2
    grid-template-columns: $param3
    justify-content: $param4
    align-items: $param5
    place-items: $param6
    width: $param7
    height: $param8
    background: $param9 

/* Sintaxis del formato SASS */
*
    box-sizing: border-box
    margin: 0px
    top: 0px

@mixin animacion($nombre, $duracion, $funcionDeTiempo, $delay, $estado, $repeticiones, $direccion)
    animation: $nombre $duracion $funcionDeTiempo $delay $estado $repeticiones $direccion

@keyframes miAnimacion
    0%
        background: red
    33%
        background: blue
    66%
        background: yellow
    100%
        background: green

#cajaAnimada
    background: pink
    @include animacion($nombre: miAnimacion, $duracion:5s , $funcionDeTiempo:linear , $delay:500ms , $estado:running, $repeticiones: infinite, $direccion: alternate )